{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
@template report_analytics/scheduledcriteriachart

Template for a scheduled criteria chart.
This chart is similar to the completion search chart, except:
-"Apply filter" button reads "Test filter" instread
-No placeholder is visible

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* chartname the name of the chart (Capital Case)
* chartnamelower the name of the chart (all lower case)
* time used to generate unique IDs
* datefilter the HTML (moodle forms) for the date filter
* presetdates {date, text}
* activity {label, type, helptooltip, optgroup|options}
* grade {items, operators, gradehelptooltip}
* action {label, type, helptooltip, options}
* operators {label, type, options}

}}
{{< report_analytics/completionsearchchart }}

{{$ filter }}
    <button class="d3button applyfilter" type="button">{{# str }} testfilterbutton, report_analytics {{/ str }}</button>
    <div class="filterstatustext"></div>
{{/ filter }}

{{$ placeholder }}
{{/ placeholder }}

{{/ report_analytics/completionsearchchart }}
