{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
@template report_analytics/textboxfilter

Template for a textbox filter.

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* label an optional label to give the checkbox
* class the css class to add to the input
* name the name to add to the input
* value the initial value to set the input to

}}
{{# label }}
    <label>{{label}}</label>
{{/ label }}
<input type="text" class="{{class}} form-control" name="{{name}}" value="{{value}}"></input>
