.que.calculatedmedical .answer .specificfeedback {
    display: inline;
    padding: 0 0.7em;
    background: #fff3bf;
}

.que.calculatedmedical .answer .specificfeedback * {
    display: inline;
    background: #fff3bf;
}

.que.calculatedmedical .answer .specificfeedback script {
    display: none;
}

.que.calculatedmedical .answer div.r0,
.que.calculatedmedical .answer div.r1 {
    padding: 0.3em;
}

/* Editing form. */
body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answeroptions_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answeroptions_] .fgrouplabel label {
    font-weight: bold;
}

body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answeroptions_] label[for^='id_answer_'],
body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answerdisplay_] label[for^='id_correctanswerlength_'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answertolerance_],
body#page-question-type-calculatedmedical div[id^=fgroup_id_][id*=answerdisplay_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-calculatedmedical div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}
